.loaderBox {
	width: 100%;
	text-align: center;
	padding: 20px 40%;
}

.loader{
	width:250px;
	height:50px;
}
.loaderMenu{
	width:150px;height:50px;
}
.loaderMenuBox{
	padding: 20% 50%;
	width:100%;height:100%;
	position:absolute;
	top:0;left:0;
	background:rgba(0,0,0,0.4);
	text-align:center;
	vertical-align: middle;
}
/**
 * Lines
 */
@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1.5);
            transform: scaley(1.5); }

  50% {
    -webkit-transform: scaley(0.7);
            transform: scaley(0.7); }

  100% {
    -webkit-transform: scaley(1.5);
            transform: scaley(1.5); } }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1.5);
            transform: scaley(1.5); }

  50% {
    -webkit-transform: scaley(0.7);
            transform: scaley(0.7); }

  100% {
    -webkit-transform: scaley(1.5);
            transform: scaley(1.5); } }

.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1.5s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1.5s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1.5s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1.5s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1.5s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(6) {
  -webkit-animation: line-scale 1.5s 0.6s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.6s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(7) {
  -webkit-animation: line-scale 1.5s 0.7s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.7s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(8) {
  -webkit-animation: line-scale 1.5s 0.8s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.8s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(9) {
  -webkit-animation: line-scale 1.5s 0.9s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 0.9s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(10) {
  -webkit-animation: line-scale 1.5s 1s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1.5s 1s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div {
  background-color: #000;
  width: 5px;
  height: 50px;
  border-radius: 2px;
  margin: 6px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; }

  
  
  
  
  .ball-clip-rotate > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  height: 15px;
  width: 15px;
  background: transparent !important;
  display: inline-block;
  -webkit-animation: rotate 0.75s 0s linear infinite;
          animation: rotate 0.75s 0s linear infinite; }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
            transform: rotate(180deg) scale(0.6); }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1); } }

@keyframes scale {
  30% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
            
            @-webkit-keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }

  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }

  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

@keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }

  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }

  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

@-webkit-keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@-webkit-keyframes pacman-balls {
  75% {
    opacity: 0.7; }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
            transform: translate(-100px, -6.25px); } }

@keyframes pacman-balls {
  75% {
    opacity: 0.7; }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
            transform: translate(-100px, -6.25px); } }
            
            
  .pacman {
  position: relative; }
  .pacman > div:nth-child(2) {
    -webkit-animation: pacman-balls 1s 0s infinite linear;
            animation: pacman-balls 1s 0s infinite linear; }
  .pacman > div:nth-child(3) {
    -webkit-animation: pacman-balls 1s 0.33s infinite linear;
            animation: pacman-balls 1s 0.33s infinite linear; }
  .pacman > div:nth-child(4) {
    -webkit-animation: pacman-balls 1s 0.66s infinite linear;
            animation: pacman-balls 1s 0.66s infinite linear; }
  .pacman > div:nth-child(5) {
    -webkit-animation: pacman-balls 1s 0.99s infinite linear;
            animation: pacman-balls 1s 0.99s infinite linear; }
  .pacman > div:first-of-type {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
            animation: rotate_pacman_half_up 0.5s 0s infinite; }
  .pacman > div:nth-child(2) {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
            animation: rotate_pacman_half_down 0.5s 0s infinite;
    margin-top: -50px; }
  .pacman > div:nth-child(3), .pacman > div:nth-child(4), .pacman > div:nth-child(5), .pacman > div:nth-child(6) {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: translate(0, -6.25px);
        -ms-transform: translate(0, -6.25px);
            transform: translate(0, -6.25px);
    top: 25px;
    left: 100px; }
    
@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } }

@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } }

.square-spin > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid red;
  -webkit-animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
          animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite; }