<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">10</property>
		<!-- SQL dialect -->
		<!-- <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property> -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<!-- <property name="current_session_context_class">thread</property> -->

		<!-- Disable the second-level cache -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
		<!-- <property name="cache.use_query_cache">true</property> -->
		<property name="cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<!-- <property name="cache.use_structure	d_entries">true</property> -->
	<!-- 	<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property> -->
		<property name="net.sf.ehcache.configurationResourceName">classpath:ehcache.xml</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- <property name="format_sql">true</property> -->
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<!-- <mapping resource="cn/hua/ssh/model/dept.hbm.xml"/> <mapping resource="cn/hua/ssh/model/employee.hbm.xml"/> -->
	</session-factory>

</hibernate-configuration>